<!DOCTYPE html>
<html>
<head>
    <%- include(ejs_root+"head", {title: "Meha931 - Articles"}); %>
</head>
<body><div class="container">
    <%- include(ejs_root+"header"); %>
    <%- include(ejs_root+"headbar"); %>
    <div class="content">
        <h1>Articles</h1>
        <p>Aka Essays, <s>aka madman's writings</s>.</p>
        <p>
            Just some writings made by me. These are mostly not objective statements,
            but rather personal opinions on some subjects, written whenever and
            how-ever I wanted to share my thoughts, or whenever I remembered the latter.
        </p>
        <p>
            Don't forget to take these with a grain of salt and pepper/sugar/cinnamon to taste :p
        </p>
        <p>
            (BIG WIP: very in progress, much unfinished, soon be done)
        </p>
        <h2>The Essence of the 10s</h2>
        <ul>
            <li><a href="essence/">Introduction</a></li>
        </ul>
    </div>
    <% addViews(path); %>
    <%- include(ejs_root+"footer", {
        left: `Views: ${views[path]}`
    }); %>
</div></body>
</html>