<div class="headbar">
<!--
    Oh no, a <table>!
    Anyway,
-->
<table class="oldgrid"><tbody><tr>
    <% [
        ["Home", "/"],
        ["Blog", "/blog/"],
        // ["Articles", "/articles/"], // unmaintained
        ["About", "/about.ejs"]
    ].forEach((entry) => { %>
        <td><%- `<a href="${entry[1]}">${entry[0]}</a>` %></td>
    <% }); %>
</tr></tbody></table>
</div>