<div class="header">
    <% /*
        Reasoning for using div statement here:
        gross value should be included, can't be changed
        unlike head.ejs, where net value is used and can be added to\.
    */ %>
    <h1>
        <% if (typeof title !== "undefined") { %>
            <%- title %>
        <% } else { %>
            Untitled
        <% } %>
    </h1>
    <% if (typeof subtitle !== "undefined") { %>
        <p><%- subtitle %></p>
    <% } %>
</div>