<%- "<"+type+">" %>
<% entries.forEach((entry) => { %>
    <% if (typeof entry === "object") { %>
        <%- include(ejs_root+"list", entry); %>
    <% } else { %>
        <li><%- entry %></li>
    <% } %>
<% }); %>
<%- "</"+type+">" %>