<!DOCTYPE html>
<html>
<head>
    <%- include(ejs_root+"head", {title: "404"}); %>
</head>
<body>
<div class="container">
    <%- include(ejs_root+"header", {
        title: "404",
        subtitle: "Not found"
    }); %>
    <div class="content">
        <p>Um... Perhaps you should go back?</p>
        <br>
        <br>
        <br>
        <p>
            What a desert.<br>
            An icy desert &#129482;
        </p>
    </div>
    <%- include(ejs_root+"footer", {
        right: "<a href=\"/\">To index</a>"
    }); %>
</div>
</body>
</html>