<!DOCTYPE html>
<html>
<head>
    <%- include(ejs_root+"head", {title: "Meha931 - About"}); %>
</head>
<body><div class="container">
    <%- include(ejs_root+"header"); %>
    <%- include(ejs_root+"headbar"); %>
    <div class="content">
        <h1>About</h1>
        <p>
            Here you can find general information about this website and me.
        </p>

        <h2>The me</h2>
        <p>
            I don't usually like to tell about myself
            (probably because I don't know what to say).
        </p>
        <p>
            I like to program, sometimes on JS, but lately usually on Lua.
            Am not very skilled in either,
            just enough to use them in small projects.
            Some of the best of mine are
            <a href="https://meha931.github.io/minesweeper">Minesweeper</a>
            and
            <a href="https://meha931.github.io/snake">Snake</a>
            games.
        </p>
        <p>
            And of course, I do like playing games,
            but I try not to spend too much time in them
            <s>though I often do</s>.
            <!-- Some of my achievements (in games in general) include the completed P5
            in Hollow Knight and quite a few played mods for Portal. -->
            <!--
                who cares
                I'm not being too harsh on myself, I just don't think it's interesting
                to a usual visitor.
                The ones who are interested may visit my Steam page.
                I would not mind mentioning my favourite games though:
            -->
            <br>
            Some of my favourite games that I've ever played,
            although not necessarily play nowadays, are:
            <ul>
                <li><b>Team Fortress 2</b> -
                    probably the best FPS,
                    is very interesting and not very competitive,
                    so the community is not very toxic
                    relatively to most other games;</li>
                <li><b>Portal</b> series &amp; mods -
                    those "liminal spaces"
                    actually feel very calming for me;</li>
                <li><b>Angels with Scaly Wings</b> -
                    surprising and charming story;</li>
                <li><b>Hollow Knight</b> -
                    fascinating lore of a beautiful kingdom;</li>
                <li>
                    ...and of course many others,
                    but it would take quite some time
                    to recall all of them
                    along with all the memories
                    to make the complete summaries.
                </li>
            </ul>
        </p>
        <p>
            As for the other hobbies...
            <br>
            I draw sometimes, but I do it very rarely.
            I don't think there are any good drawings that I can show
            (Seriously, I don't draw much,
            and last time I published anything I wasn't as good as now,
            so it would be appreciated if you won't ask for them,
            at least now).
            I've been planning to make a gallery though,
            so maybe sometime I'll let everyone see them.
            <br>
            I also study languages sometimes,
            though I wouldn't like to tell about these publicly.
            Let's just consider me to know about 3.5 in total :p
        </p>
        
        <h3 id="contact">Contact</h3>
        <p>
            You can usually find me
            with the "Meha931" name/tag on most places.
            I don't think there are many impersonators of me,
            but it's certainly taken by me on <b>Steam</b> and <b>Github</b>.
        </p>
        <p>
            You also
            <s>can</s> <s>could</s> <s>can (again)</s> <em>could</em>
            send me an emаil.
            It was quite a pain to set it up for the first time,
            and less of a pain the second time,
            but currently the mail server is down,
            so at the moment you can't send a message for me.
            If you're interested, the address that I had set for myself was
            <b><span style="white-space: nowrap; text-decoration: underline;">
                control [аt] wtf [dоt] abcdefghijklmnopqrstuvwxyz [dоt] 123456789 [dоt] meha931 [dоt] xyz
            </span></b>.
            Yes, this was a valid inbox that I could check
            whenever I logged in as that user.
            I wasn't really able to reply using this address though,
            since most email services outright reject messages
            (and not even give them a chance to end up at least in "Spam")
            if some security things haven't been set up.
            <br>
            Well, if you want me to reply to you...
            either provide some way of contacting you besides using an email
            (since I'm not going to use my primary emails),
            or use the other options, preferably Steam.
            <!--
                blank update to let that server receive the new files 
                because it somehow doesn't use updateInstead
                ...BUT it worked!!! Just had to delete .git and re-init repo!
            -->
        </p>
        <p>
            I might also install a Matrix server sometime,
            though I failed to set one up on the first try.
            So currently you can't use it to contact me.
        </p>

        <!--
        <h2>The tools</h2>
        <p>
            Since I moved to Linux, I now mostly use open-source software.
            <br>
            Which sometimes is quite difficult to use because it's never fully
            compatible with commonly used "regular" software, and sometimes it
            just doesn't work properly.
        </p>
        <p>
            On the other hand, Linux allows quite a lot of things to be customized.
            It takes some experience, but the end result is very satisfying.
        </p>
        <p>
            So here are some (hard-/software) tools that I use:
        </p>
        <ul>
            <li>
                Arch Linux <s>btw</s> with Sway WM and some programs from Gnome - workspace;
            </li>
            <li>
                LibreOffice, GNU Octave, Qucs-S, VSC (OSS) - studying;
            </li>
            <li>
                OBS Studio, Blender, ffmpeg (or HandBrake if it fails), GIMP, Krita -
                video and image editing;
            </li>
            <li>
                Firefox, Discord, Steam, Telegram - browsing and communication.
            </li>
        </ul>
        -->

        <h2>The site</h2>
        <p>
            Here's some technical info about the site:
        </p>
        <ul>
            <li>
                Hosted on a VPS that costs about
                <s>$1</s> <s>$3</s> <s>$8</s> $3/month
                (yes, it was relocated many times) -
                currently it has 1 GB of RAM,
                which should be enough for some games,
                though the server provider has politely asked
                to not host games on their servers.
                Well, guess I can use it to pipe traffic to my computer,
                which I <em>can</em> use to host games.
            </li>
            <li>
                Requests to this server are routed by Nginx.
                Most files are served by it too,
                but .ejs ones are handled by Node with some plugins.
            </li>
            <li>
                Let's Encrypt certificates,
                <s>updated manually because I still don't really trust
                Certbot to edit my fragile Nginx config</s>
                Last time I used Certbot,
                it somehow set up some timer to update
                the certificate automatically.
                I really doubt that it works though.
            </li>
            <li>
                Views and other data that's not possible on a static page
                <s>(basically nothing yet)</s>
                is handled by the same server too.
                That was actually the reason why I decided
                to host the website on a server,
                though I might switch to something else sometime.
            </li>
            <li>
                <s>The website's protected by Cloudflare.
                Although I have no clear idea of
                how it does the protection,
                because I still get a lot of strange requests.</s>
                <br>
                It's not exactly useful,
                and having unproxied domain name
                simply makes it more accessible
                <del>and just a little bit more vulnerable</del>.
            </li>
            <li>
                And the domain registrar...
                well, you can just do a Whois lookup &#128517;
            </li>
        </ul>
        <p>
            <s>Just don't attack the server please</s>
        </p>
    </div>
    <% addViews(path); %>
    <%- include(ejs_root+"footer", {
        left: `Views: ${views[path]}`
    }); %>
</div></body>
</html>
