<!DOCTYPE html>
<html>
<head>
    <%- include(ejs_root+"head", {title: "Meha931"}); %>
</head>
<body><div class="container">
    <%- include(ejs_root+"header"); %>
    <%- include(ejs_root+"headbar"); %>
    <div class="content">
        <h1>Hewlo!</h1>
        <p>Welcome to my website!</p>
        <p>
            Currently it's undergoing a reconstruction.
            Soon it'll be a completely different place!
        </p>
    </div>
    <%- include(ejs_root+"footer", {
        center: `<img src="/mehabanner.png" alt="Banner">`
    }); %>
</div></body>
</html>