<!DOCTYPE html>
<html>
<head>
    <%- include(ejs_root+"head", {title: "Meha931 - Home"}); %>
    <link rel="me" href="https://mastodon.social/@meha931"/> <!-- Mastodon verification -->
</head>
<body><div class="container">
    <%- include(ejs_root+"header"); %>
    <%- include(ejs_root+"headbar"); %>
    <div class="content">
        <h1>Hewlo!</h1>
        <p>Welcome to my website!</p>
        <p>
            Here you can find some info about me,
            as well as some of my projects.
            Most of the latter can be found at my
            <a href="https://meha931.github.io">previous website</a>
            though,
            and this place is mostly about myself.
        </p>
        <p>
            It's still under construction -
            yes, many personal websites are "under construction",
            and even though this one was (re)made relatively recently,
            I can't really promise to update it regularly,
            and the general information is still being written.
        </p>
        <p>
            But anyways,
            I hope you'll have a pleasant stay at my website! &#128153;
        </p>
        <p>
            If you have any questions, you can
            <a href="/about.ejs#contact">contact</a> me in some places.
            If it's related to the website, you can see the
            <a href="https://github.com/Meha931/meha931.xyz">source code</a>
            or open an
            <a href="https://github.com/Meha931/meha931.xyz/issues">issue</a>
            if you think that I have weird coding habits <s>(I do)</s>.
            <br>
            <s>Though it's not guaranteed that I'll respond quickly</s>
        </p>
    </div>
    <% addViews(path); %>
    <%- include(ejs_root+"footer", {
        left: `Bots+people: ${views[path]}`
    }); %>
</div></body>
</html>
