body {
    font-family: Arial, sans-serif;
    background: rgb(213, 225, 242);
    margin: 0;
    padding: 0;
    min-width: 600px;
}
.container {
    background: #fff;
    /* width: 55%; */
    width: 55vw;
    min-width: 500px;
    margin: 50px auto;
    /* background: #cce; */
    border: solid thin;
}
.header {
    background:rgb(125, 153, 228);
    background-image: url("/header-bg.png");
    background-size: cover;
    height: 10vw;
    min-height: 100px;
}
.headbar {
    /* background:rgb(187, 173, 133); */
    background: rgb(60, 65, 79);
    text-align: center;
    font-size: 14pt;
    /* color: rgb(168, 202, 250); */
    height: 3em;
}
.headbar a {
    color: rgb(168, 202, 250);
}
.headbar table {
    width: 100%;
    height: 100%;
}
.content {
    background: rgb(245, 222, 204);
    padding: 10px;
    min-height: 100px;
}
.footer {
    background:rgb(60, 65, 79);
    height: 3em;
}
a {
    font-weight: bold;
}